<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Create Document</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd475">  <td>17/03/03 14:48:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateNewDocument.Document()[pri:0, instance:smoke.CreateFiles.CreateNewDocument@387c703b]">Document</td> 
  <td>main@1416233903</td>   <td></td> </tr>
<tr bgcolor="7cd475">  <td>17/03/03 14:48:24</td>   <td>-15875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateNewDocument.PIN()[pri:0, instance:smoke.CreateFiles.CreateNewDocument@387c703b]">PIN</td> 
  <td>main@1416233903</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>17/03/03 14:48:13</td>   <td>-27134</td> <td title="&gt;&gt;Set_Driver_Set_Capabilities.setDesiredCapabilities()[pri:0, instance:smoke.CreateFiles.CreateNewDocument@387c703b]">&gt;&gt;setDesiredCapabilities</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1416233903</td>   <td></td> </tr>
</table>
