<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a49d8f">  <td>17/03/17 15:17:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScreenTest.Valid_Login()[pri:0, instance:smoke.LoginTest.LoginScreenTest@340f438e]">Valid_Login</td> 
  <td>main@1622006612</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>17/03/17 15:17:37</td>   <td>-13129</td> <td title="&gt;&gt;Set_Driver_Set_Capabilities.setDesiredCapabilities()[pri:0, instance:smoke.LoginTest.LoginScreenTest@340f438e]">&gt;&gt;setDesiredCapabilities</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1622006612</td>   <td></td> </tr>
</table>
