<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Handset Browser Smoke Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b6d63">  <td>17/03/03 14:46:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateNewDocument.Document()[pri:0, instance:smoke.CreateFiles.CreateNewDocument@2eee9593]">Document</td> 
  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>17/03/03 14:45:48</td>   <td>-15619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateNewDocument.PIN()[pri:0, instance:smoke.CreateFiles.CreateNewDocument@2eee9593]">PIN</td> 
  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="7cd475">  <td>17/03/03 14:45:48</td>   <td>-15695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SetDriver_Launch.loginToWorkspace()[pri:0, instance:smoke.SetDriver_Launch@18e8568]">loginToWorkspace</td> 
  <td>main@716143810</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>17/03/03 14:45:36</td>   <td>-27213</td> <td title="&gt;&gt;Set_Driver_Set_Capabilities.setDesiredCapabilities()[pri:0, instance:smoke.CreateFiles.CreateNewDocument@2eee9593]">&gt;&gt;setDesiredCapabilities</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@716143810</td>   <td></td> </tr>
</table>
